{% extends 'base.html.twig' %}

{% set meta = {
    title: '%s - UX Icons '|format(collection.name),
    description: '',
    canonical: url('app_icon_collection', {prefix: prefix}),
} %}

{% block content %}


    <div class="hero">
        <div class="container-fluid container-xxl px-4 pt-5 px-md-5 pt-md-5">
            <p class="eyebrows text-center">
                <a href="{{ path('app_icons') }}">UX Icons</a>
            </p>
            <h1 class="text-center ubuntu mt-3">
                <a href="{{ url('app_icon_collection', {prefix: prefix}) }}">
                    {{ collection.name }}{{ 'icon' not in collection.name|lower ? ' Icons' }}
                </a>
            </h1>
            <div style="font-size: 1rem; line-height: 1.75rem;" class="mt-4 text-center">
                <p>
                    {% if collection.total|default %}
                        <span>
                            <span>Icons</span>
                            <code>
                                {{ collection.total }}
                            </code>
                        </span>
                    {% endif %}
                    {% if categories|default %}
                        <span>
                            <span>Categories</span>
                            <code>
                                {{ categories|length }}
                            </code>
                        </span>
                    {% endif %}
                    {% if collection.version|default %}
                        <span>
                            <span>Version</span>
                            <code>
                                {{ collection.version }}
                            </code>
                        </span>
                    {% endif %}
                    {% if collection.license.url|default %}
                        <span>
                            <span>License</span>
                            <code>
                                <a href="{{ collection.license.url }}" rel="external nofollow">
                                    {{ collection.license.title }}
                                </a>
                            </code>
                        </span>
                    {% endif %}
                    {% if collection.author.url|default %}
                        <span>
                            <span>Authors</span>
                            <code>
                                <a href="{{ collection.author.url }}" rel="external nofollow">
                                    {{ collection.author.name }}
                                </a>
                            </code>
                        </span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid container-xxl px-4 py-4 py-md-5">
        <twig:SearchIcons :set="prefix" hideSelect />
    </div>

    <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">
        {{ dump(categories) }}
    </div>

    <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">
        {{ dump(icons|slice(0, 64)) }}
    </div>

{% endblock %}


{% block aside %}
    <aside style="background-color: var(--bs-secondary-bg-subtle);" class="mt-5">
        <twig:Icon:PrevNextIconSet iconSet="{{ iconSet }}" />
    </aside>>
{% endblock %}
