{% extends 'base.html.twig' %}

{% set meta = {
    title: 'Icon: ' ~ fullName,
    description: '',
    canonical: url('app_icon', {prefix: prefix, name: name}),
} %}

{% block content %}

    <div class="hero">
        <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">
            <p class="eyebrows text-center">
                <a href="{{ path('app_icons') }}">UX Icons</a> /
                <a href="{{ path('app_icon_collection', {prefix: prefix}) }}">{{ iconSet.name }}</a>
            </p>
            <h1 class="text-center ubuntu mt-2"><code style="--bs-code-color: var(--color)">{{ prefix }}:</code><code>{{ name }}</code></h1>
            <div style="font-size: 1rem; line-height: 1.75rem;" class="mt-4 text-center">
                <p>
                    {% if iconSet.total|default %}
                        <span>
                            <span>Icon Set</span>
                            <code>
                                {{ iconSet.name }}
                            </code>
                        </span>
                    {% endif %}
                    {% if iconSet.total|default %}
                        <span>・</span>
                        <span>
                            <span>Icons</span>
                            <code>
                                {{ iconSet.total }}
                            </code>
                        </span>
                    {% endif %}
                    {% if categories|default %}
                        <span>・</span>
                        <span>
                            <span>Categories</span>
                            <code>
                                {{ categories|length }}
                            </code>
                        </span>
                    {% endif %}
                    {% if collection.license.url|default %}
                        <span>・</span>
                        <span>
                            <span>License</span>
                            <code>
                                <a href="{{ collection.license.url }}" rel="external nofollow">
                                    {{ collection.license.title }}
                                </a>
                            </code>
                        </span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>


    <style>
        .icon-preview {
          width: auto;
          height: auto;
          aspect-ratio: 1;
          display: grid;
            place-items: center;
          background-color: var(--bs-secondary-bg-subtle);
          border-radius: .75rem;
          border: 1px solid var(--bs-secondary-bg-subtle);

        }
        .bg-1 {
              background-image: linear-gradient(currentColor 1px, transparent 1px),linear-gradient(to right, currentColor 1px, transparent 1px);
              background-size: 34px 34px;
              background-blend-mode: overlay;
              background-position: center center;
        }
        .bg-2 {
            background: #fff;
        }
        .bg-3 {
            --color-text: rgba(255 255 255 / 25%);
              background-image: repeating-linear-gradient(45deg, var(--color-text) 25%, transparent 25%, transparent 75%, var(--color-text) 75%, var(--color-text)),
                                repeating-linear-gradient(45deg, var(--color-text) 25%, transparent 25%, transparent 75%, var(--color-text) 75%, var(--color-text));
              background-position: 0 0,20px 20px;
              background-size: calc(2 * 20px) calc(2 * 20px);
        }
        .bg-4 {
          background: #000;
        }
        .bg-x {
            background: rgba(0 0 0  / .5);
        }
        .icon-preview svg {
          width: 80%;
          height: 80%;
        }
    </style>


    <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">


        <div class="row">

            <div class="col-4" style="display:grid;gap: 1rem;">
                <div>
                    <div class="icon-preview bg-1" style="">
                        {{ svg|raw }}
                    </div>
                </div>
                <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;gap: 1rem;">
                    <div class="icon-preview bg-2" style="">
                        {{ svg|raw }}
                    </div>
                    <div class="icon-preview bg-3" style="">
                        {{ svg|raw }}
                    </div>
                    <div class="icon-preview bg-4" style="">
                        {{ svg|raw }}
                    </div>
                </div>
                <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 1rem;">
                    <div class="icon-preview bg-x" style="color: indianred;">
                        {{ svg|raw }}
                    </div>
                    <div class="icon-preview bg-x" style="color: #3b82f6;">
                        {{ svg|raw }}
                    </div>
                    <div class="icon-preview bg-x" style="color: mediumseagreen;">
                        {{ svg|raw }}
                    </div>
                    <div class="icon-preview bg-x" style="color: lightcoral">
                        {{ svg|raw }}
                    </div>
                </div>
            </div>

            <div class="col-8">

                <div style="display:grid; grid-template-columns: repeat(8, 1fr);">
                    <div class="icon-preview bg-2" style="">
                        {{ svg|raw }}
                    </div>
                    <div class="icon-preview bg-2" style="">
                        {{ svg|raw }}
                    </div>
                    <div class="icon-preview bg-2" style="">
                        {{ svg|raw }}
                    </div>
                    <div class="icon-preview bg-2" style="">
                        {{ svg|raw }}
                    </div>
                    <div class="icon-preview bg-2" style="">
                        {{ svg|raw }}
                    </div>
                    <div class="icon-preview bg-2" style="">
                        {{ svg|raw }}
                    </div>
                    <div class="icon-preview bg-2" style="">
                        {{ svg|raw }}
                    </div>
                </div>

                <div>
                    <pre>
                        <code>{{ ('<' ~ 'twig:UX:Icon name="' ~ fullName ~ '" />')|e }}</code>
                    </pre>
                </div>

                <div>
                    <pre>
                        <code>{{ ('{{ ux_icon' ~ '("' ~ fullName ~ '") }}')|e }}</code>
                    </pre>
                </div>

                <div class="d-flex justify-content-center ">
                    <twig:TerminalCommand command="symfony console ux:icons:import {{ fullName }}" />
                </div>



                 <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">
        {{ svg|raw }}
        {{ dump(collection) }}
    </div>


            </div>

        </div>

        </div>
    </div>



{% endblock %}

{% block aside %}
    <aside style="background-color: var(--bs-secondary-bg-subtle);" class="mt-5">
        <twig:Icon:PrevNextIconSet iconSet="{{ iconSet }}" />
    </aside>
{% endblock %}
