{% extends 'base.html.twig' %}

{% set meta = {
    title: 'Icon: ' ~ fullName,
    description: '',
    canonical: url('app_icon', {prefix: prefix, name: name}),
} %}

{% block content %}

    <div class="hero">
        <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">
            <p class="eyebrows text-center">
                <a href="{{ path('app_icons') }}">UX Icons</a> /
                <a href="{{ path('app_icon_collection', {prefix: prefix}) }}">{{ collection.name }}</a>
            </p>
            <h1 class="text-center ubuntu mt-2">Icon <code>{{ fullName }}</code></h1>
        </div>
    </div>

    <div>

    </div>

    <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">
        {{ svg|raw }}

        {{ dump(collection) }}
    </div>


    <div class="d-flex justify-content-center ">
            <twig:TerminalCommand command="symfony console ux:icons:import {{ fullName }}" />
        </div>

    <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">
        <h2>Icon details</h2>
        <p>Prefix: <code>{{ prefix }}</code></p>
        <p>Name: <code>{{ name }}</code></p>
        <p>Full name: <code>{{ fullName }}</code></p>
        <p>Collection: <code>{{ collection.name }}</code></p>
        <p>Category: <code>{{ category|default }}</code></p>
        <p>Tags: <code>{{ tags|default([])|join(', ') }}</code></p>
    </div>


    <div>


    </div>


{% endblock %}

{% block aside %}
    <aside style="background-color: var(--bs-secondary-bg-subtle);" class="mt-5">
        <twig:Icon:PrevNextIconSet iconSet="{{ iconSet }}" />
    </aside>>
{% endblock %}
