{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <meta name="turbo-prefetch" content="false">
{% endblock %}

{% set meta = {
    title: "Search Icons",
    description: "Search for icons on iconify.design.",
    canonical: url('app_icons'),
} %}

{% block content %}

    <div class="hero">
        <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">
            <h1 class="text-center ubuntu mt-5">
                <a href="{{ url('app_icons') }}">Search Icons</a>
            </h1>
            <div style="font-size: 1rem; line-height: 1.75rem;" class="mt-4 text-center demo-introduction">
                <p>
                    <a href="#foo"><code>Install</code></a> dfsdf sdf sdf
                    <a href="#foo"><code>Search</code></a> dfsdf sdf sdf
                    <a href="#foo"><code>Sets</code></a> dfsdf sdf sdf
                </p>
            </div>
        </div>
    </div>

    <section class="container-fluid container-xxl px-4 py-3">
        <twig:Icon:IconSearch  />
    </section>

    <section class="container-fluid container-xxl px-4 py-3">
        <p class="eyebrows" style="margin: 111px 0 0;">Iconic Packages</p>
        <div class="d-md-flex justify-content-md-between text-center align-items-center text-md-start">
            <h2 class="ubuntu pt-2 component-headlines">Popular <em class="rainbow-emphasis">Icon Sets</em></h2>
            <a style="height: 100%;" class="btn btn-md btn-outline-primary mt-3 mt-md-0" href="{{ url('app_icon_sets') }}">
                Browse all Icon Sets
                <twig:Icon name="arrow-right"  />
            </a>
        </div>
        <div class="mt-3 mt-md-5">
            <twig:Icon:IconSetGrid iconSets="{{ iconSets }}" limit="6" samples="10" />
        </div>
    </section>

    <section class="container-fluid container-xxl px-4 py-3">
        <p class="eyebrows" style="margin: 4rem 0 0;">Iconic Packages</p>
        <div class="d-md-flex justify-content-md-between text-center align-items-center text-md-start">
            <h2 class="ubuntu pt-2 component-headlines">Popular <em class="rainbow-emphasis">Emojis Packs</em></h2>
            <a style="height: 100%;" class="btn btn-md btn-outline-primary mt-3 mt-md-0" href="{{ url('app_icon_sets_emojis') }}">
                Emoji Icon Sets
                <twig:Icon name="arrow-right"  />
            </a>
        </div>
        <div class="mt-3 mt-md-5">
            <twig:Icon:IconSetGrid category="emoji" limit="3" samples="10" />
        </div>
    </section>


{#    <section class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">#}
{#        <div>#}
{#            <h2 class="ubuntu text-center mt-5">Install It</h2>#}
{#            <div class="d-flex justify-content-center mt-5">#}
{#                <div class="col-12 col-md-6">#}
{#                    <twig:Terminal bottomPadding="20">composer require symfony/ux-icons</twig:Terminal>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}


{% endblock %}


{% block aside %}
    {{ include('icons/_package_links.html.twig') }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <twig:Icon:IconModal  />
{% endblock %}
