{% extends 'base.html.twig' %}

{% block title %}Error {{ status_code }} - Symfony UX{% endblock %}

{% block meta %}{% endblock %}

{% block banner %}{% endblock %}

{% block main %}
    <main style="display: grid; place-content: center;text-align: center;" >
        
        <twig:Hero
            suptitle="Error"
            title="{{ status_code }}"
            subtitle="{{ status_text }}"
            style="--title-size: calc(min(22vw, 23.1rem));"
        />
        
        <div>
            <twig:Button 
                href="{{ url('app_homepage') }}"
                label="Back to the homepage"
                size="lg"
            />
        </div>
        
        <div class="d-flex flex-column align-items-center position-relative" style="gap:.5rem;">
            <span class="Eyebrow" style="font-size: 1rem;">Error</span>
            <h1 style="font-size: calc(6rem + 10vw); line-height: .75;letter-spacing: -.5rem;">{{ status_code }}</h1>
            <p class="hero-sub-text">{{ status_text }}</p>
            <a class="btn btn-outline-primary stretched-link" href="{{ url('app_homepage') }}">Back to the homepage</a>
        </div>
    </main>
{% endblock %}
