<header class="AppHeader">
    <div class="AppHeader_inner">

        <a class="AppHeader_logo" href="{{ path('app_homepage') }}" aria-label="Homepage">
            <span aria-hidden="false">Symfony UX</span>
        </a>

        <button class="AppHeader_toggler" type="button">
            <twig:Icon name="menu"/>
        </button>

        <div class="AppHeader_menu">

            <nav class="AppHeader_nav">
                <a href="{{ url('app_turbo') }}" class="AppNav_item">Turbo</a>

                <a href="{{ url('app_live_component') }}" class="AppNav_item">Live Components</a>

                <a href="{{ url('app_autocomplete') }}" class="AppNav_item">Autocomplete</a>

                {% if app.request.query.get('icons') %}
                    <a href="#" class="AppNav_item">Icons</a>
                {% endif %}

                <a href="{{ url('app_packages') }}" class="AppNav_item">All Packages</a>

                <a href="{{ url('app_demos') }}" class="AppNav_item">Demos</a>
            </nav>

            <div class="AppHeader_more">
                <a class="AppNav_item AppNav_item--icon" href="https://github.com/symfony/ux"
                   rel="external noopener noreferrer" aria-label="Symfony UX on GitHub"
                >
                    <twig:Icon name="github"/>
                </a>

                <twig:ThemeSwitcher class="AppNav_item AppNav_item--icon" aria-label="Switch dark/light mode"/>
            </div>
        </div>


    </div>
</header>
