{% extends 'base.html.twig' %}

{% block title %}Twig UI Components{% endblock %}

{% block tailwind_demo %}
    <html>
        <head>
            <link rel="stylesheet" href="{{ asset('styles/tailwind.css') }}">

            {{ importmap() }}
        </head>
        <body>
            <div class="flex justify-center border-black-3 mt-3">
            <button
                class="bg-sky-500 text-white font-semibold rounded-lg px-4 py-2 text-sm"
                data-controller="modal"
                data-modal-target-value="demo-modal"
            >
                Open Modal
            </button>
            </div>

            <twig:tailwind:Modal id="demo-modal">
                <twig:block name="header">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Important Content Below
                    </h3>
                </twig:block>

                <div class="p-6 space-y-6">
                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                        With only three weeks remaining until National Unicorn Day, enthusiasts and experts alike are gearing up to celebrate these mythical creatures in all their rainbow-sparkling glory.
                    </p>
                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                        From whimsical parades featuring unicorn floats to scholarly discussions on the aerodynamics of magical flight, the event promises to be the highlight of the unicorn calendar year.
                    </p>

                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                        Will you be attending?
                    </p>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button {{ stimulus_action('modal-component', 'close') }} type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Definitely!</button>
                    <button {{ stimulus_action('modal-component', 'close') }} class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Too busy</button>
                </div>
            </twig:tailwind:Modal>
        </body>
    </html>
{% endblock %}

{% block body %}
    <h1>Modal</h1>

    <iframe style="width: 50%; height: 500px; margin: 40px; border: 1px solid; border-radius: 5px;" {{ stimulus_controller('iframe-content', {
        content: block('tailwind_demo')
    }) }}></iframe>
{% endblock %}
