{% props
    title,
    suptitle = null,
    subtitle = null,
    description = null,
    eyebrows = null,
    url = null,
%}

{% if url is null and app.current_route is not null %}
    {% set url = url(app.current_route) %}
{% endif %}

<div class="Hero" {{ attributes.without('class') }}>
    <div class="Hero__inner container stack">
        {%- if (suptitle is not null) or (block('suptitle') is defined) -%}
            <p class="Hero__suptitle Eyebrow">
                {{- suptitle ?? block('suptitle')  -}}
            </p>
        {%- endif -%}
        {% block title -%}
            <h1 class="Hero__title">
                {%- if url -%}
                    <a href="{{ url }}">{{ title }}</a>
                {%- else -%}
                    {{ title }}
                {%- endif -%}
            </h1>
        {%- endblock -%}
        {%- if subtitle -%}
            <p class="Hero__subtitle">{{- subtitle -}}</p>
        {%- endif -%}
        {%- if (block('content') is defined) or (description is defined) -%}
            <div class="Hero__content">
                {{- description ?? block('content') -}}
            </div>
        {%- endif -%}
    </div>
</div>
