<div{{ attributes }}>

    <div class="p-4 markdown-container background-glass shadow-blur shadow-blur--rainbow  mt-5" style="border-radius: .75rem">
        <fieldset class="d-flex d-flex gap-4">
            {% if not hideSelect %}
                <select
                        class="form-control w-25"
                        data-model="set"
                >
                    <option value="0">All</option>
                    {% for name,value in computed.collections %}
                        <option value="{{ name }}">{{ value.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            {% if categories|default %}
                <select
                        class="form-control w-25"
                        data-model="set"
                >
                    <option value="0">All</option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            {% endif %}

            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </span>
                <input
                    autofocus
                    type="search"
                    data-model="query"
                    placeholder="Results update as you type..."
                    class="form-control"
                >
            </div>

            <div class="d-flex">
                <button class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 8 8"><path fill="currentColor" d="M0 0v1h1V0zm2 0v1h1V0zm2 0v1h1V0zm2 0v1h1V0zM0 2v1h1V2zm2 0v1h1V2zm2 0v1h1V2zm2 0v1h1V2zM0 4v1h1V4zm2 0v1h1V4zm2 0v1h1V4zm2 0v1h1V4zM0 6v1h1V6zm2 0v1h1V6zm2 0v1h1V6zm2 0v1h1V6z"></path></svg>
                </button>
                <button class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 8 8"><path fill="currentColor" d="M0 0v1h1V0zm2 0v1h1V0zm2 0v1h1V0zm2 0v1h1V0zM0 2v1h1V2zm2 0v1h1V2zm2 0v1h1V2zm2 0v1h1V2zM0 4v1h1V4zm2 0v1h1V4zm2 0v1h1V4zm2 0v1h1V4zM0 6v1h1V6zm2 0v1h1V6zm2 0v1h1V6zm2 0v1h1V6z"></path></svg>
                </button>
                <button class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 8 8"><path fill="currentColor" d="M0 0v1h1V0zm2 0v1h1V0zm2 0v1h1V0zm2 0v1h1V0zM0 2v1h1V2zm2 0v1h1V2zm2 0v1h1V2zm2 0v1h1V2zM0 4v1h1V4zm2 0v1h1V4zm2 0v1h1V4zm2 0v1h1V4zM0 6v1h1V6zm2 0v1h1V6zm2 0v1h1V6zm2 0v1h1V6z"></path></svg>
                </button>
            </div>

            <div>
                <button class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                      <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                    </svg>
                </button>
            </div>

        </fieldset>
    </div>

    {% if computed.icons|length > 0 %}
        <div data-loading="addClass(opacity-50)" class="mt-5 row">

            {{ include('icons/_icon_list.html.twig', {icons: computed.icons}) }}

{#            {% for icon, url in computed.icons %}#}
{#                <div class="col-12 col-md-6 col-lg-4 mb-2">#}
{#                    <div class="components-container p-2">#}
{#                        {% set iconParts = icon|split(':') %}#}
{#                        {% set prefix = iconParts[0] %}#}
{#                        {% set name = iconParts[1] %}#}
{#                        <div class="d-flex">#}
{#                            <div class="live-component-img d-flex justify-content-center align-items-center">#}
{#                                <a href="{{ url('app_icon', {prefix: prefix, name: name}) }}">#}
{#                                    <img width="32px" height="32px" src="{{ url }}" alt="SVG for {{ icon }}">#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="ps-2 pe-2">#}
{#                                <h4 class="ubuntu-title align-self-center">{{ icon }}</h4>#}
{#                                <div class="text-nowrap"><small><code>symfony console ux:icons:import {{ icon }}</code></small></div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}

        </div>
    {% elseif query %}
        <div class="pt-3">Ah! No icons found matching "{{ query }}"</div>
    {% endif %}
</div>
