<dialog {{ attributes.defaults({
    class: "IconModal",
    id: "IconModal",
    "data-open": this.icon ? "open" : null
}).defaults(stimulus_controller('icon-modal')) }}>

    <input type="hidden" name="icon" value="{{ this.icon }}" data-model="on(change)|icon" />

    {% if not this.icon %}

        {#  Noop  #}

    {% else %}

    <div class="IconModal__header">
        <a class="IconModal__title">
            <span>{{ this.prefix }}</span><span>:</span><span>{{ this.name }}</span>
        </a>
        <button type="button" class="btn close" data-action="icon-modal#close">
            <twig:Icon name="cross" />
        </button>
    </div>

    <div class="IconModal__body">
        <div class="IconModal__media">
            <div class="IconModal__icon IconModal__icon--grid">
{#                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">#}
{#                    <symbol id="icon:{{ full_name }}" viewBox="0 0 24 24">#}
{#                        <path d="M0 0h24v24H0z" fill="none"/>#}
{#                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/>#}
{#                    </symbol>#}
{#                    <use href="#icon:{{ full_name }}" xlink:href="#icon:{{ full_name }}"/>#}
{#                </svg>#}
                {{ this.svg|raw }}
            </div>
            <div class="IconModal__icons">
                <div class="IconModal__icon">
                    {{ this.svg|raw }}
                </div>
                <div class="IconModal__icon IconModal__icon--check">
                    {{ this.svg|raw }}
                </div>
                <div class="IconModal__icon">
                    {{ this.svg|raw }}
                </div>
            </div>

        </div>

        <div class="IconModal__main">

            <h3>Twig Component</h3>
            <div class="IconModal__code">
                 <pre><code>{{ '{{' }} ux_icon('<span>{{ this.icon }}</span>') {{ '}}' }}</code></pre>
                <button class="btn btn-sm IconModal__copy">
                    <twig:Icon name="copy" />
                </button>
            </div>

            <h3>Render Icon</h3>
            <div class="IconModal__code">
                <pre><code>{{ '<%s'|format('twig')}}:ux:icon name="<span>{{ this.icon }}</span>" /></code></pre>
                <button class="btn btn-sm IconModal__copy">
                    <twig:Icon name="copy" />
                </button>
            </div>

            <h3>Import Icon</h3>
            <div class="IconModal__code">
                <pre><code>symfony console ux:icon:import <span>{{ this.icon }}</span></code></pre>
                <button class="btn btn-sm IconModal__copy">
                    <twig:Icon name="copy" />
                </button>
            </div>

            <h3>SVG Icon</h3>
            <div class="IconModal__code">
                <pre><code>{{ this.svg }}</code></pre>
                <button class="btn btn-sm IconModal__copy">
                    <twig:Icon name="copy" />
                </button>
            </div>

        </div>
    </div>

    {% endif %}

</dialog>

