{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <meta name="turbo-prefetch" content="false">
{% endblock %}

{% set meta = {
    title: 'Emojis Icons with Symfony UX:Icons',
    description: '',
    canonical: url('app_icon_sets_emojis'),
} %}

{% block content %}

    <div class="hero">
        <div class="container-fluid container-xxl px-4 pt-5 px-md-5 pt-md-5 text-center">
            <p class="eyebrows text-center">
                <a href="{{ path('app_icons') }}">UX <span>Icons</span></a> /
                <a href="{{ path('app_icon_sets') }}">Sets</a>
            </p>
            <h1 class="ubuntu mt-3">
                <a href="{{ url('app_icon_sets_emojis') }}">Emojis Icon Sets</a>
            </h1>
        </div>
    </div>

    <div class="container-fluid container-xxl px-4 py-4">
        <div style="display:grid; grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); gap: 1.5rem;">
            {% for iconSet in iconSets %}
                <twig:Icon:IconSetCard iconSet="{{ iconSet }}" index="{{ loop.index }}" samples="10" />
            {% endfor %}
        </div>
    </div>

        <section class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">
        <div>
            <h2 class="ubuntu text-center mt-5">Install It</h2>
            <div class="d-flex justify-content-center mt-5">
                <div class="col-12 col-md-6">
                    <twig:Terminal bottomPadding="20">composer require symfony/ux-icons</twig:Terminal>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


