{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <meta name="turbo-prefetch" content="false">
{% endblock %}

{% set meta = {
    title: 'Icon Sets - Packs - UX Icons',
    description: '',
    canonical: url('app_icon_set_flags'),
} %}

{% block content %}

    <div class="hero">
        <div class="container-fluid text-center container-xxl px-4 pt-5 px-md-5 pt-md-5">
            <p class="eyebrows text-center">
                <a href="{{ path('app_icons') }}">UX <span>Icons</span></a> /
                <a href="{{ path('app_icon_sets') }}">Sets</a>
            </p>
            <div style="font-size: 1rem; line-height: 1.75rem;">
                <p>
                    Over <span><code>100 Icon Flags</code></span> to Choose From.
                    Find the <span><code>Perfect Icons</code></span> for Your Project.
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid container-xxl px-4 py-4">
        <div style="display:grid; grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); gap: 1.5rem;">
            {% for iconSet in iconSets %}
                <twig:Icon:IconSetCard iconSet="{{ iconSet }}" index="{{ loop.index }}" samples="10" />
            {% endfor %}
        </div>
    </div>

{% endblock %}


